name: Swift CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode 15
        run: sudo xcode-select -s /Applications/Xcode_15.2.app

      - name: Build Package
        run: swift build -v

      - name: Run Tests
        run: swift test -v

      - name: Build for iOS
        run: |
          xcodebuild build \
            -scheme KSComponents \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.2'

  swiftlint:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: SwiftLint
        run: |
          brew install swiftlint
          swiftlint lint --strict
